html{
    position: relative;
    min-height: 100%;
}
body{
    background-image: url(../../img/body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}
.navbar{
    padding: 1.5rem 2rem;
    border-radius: 50px;
}
nav{
    margin: auto;
    width: 40%;
}
#navbarSupportedContent>ul>li>a{
    margin: 0 2.5rem;
    color: white;
}
h1{
    text-align: center;
    margin:5rem 2rem 5rem 2rem;
}
.link-greta{
    text-transform: uppercase;
    text-decoration: underline;
}
.link-greta:hover{
    font-size: 1.2rem;
    color: gold;
}